#treat-your-pet{
  width:50%;
  float:left;
}
#minnows-section{
  text-align:center;
  background-color:lightgrey;
}
#minnows-1{
  width:50%;
  float:left;
  background-color:lightgrey;
}
#minnows-2{
  width:50%;
  float:right;
  background-color:lightgrey;
}
#image-2{
  width:50%;
  float:left;
}